<h2 class="text-center" style="font-size: 52px;height: 90px;margin-top: 28px;"><strong>Courses</strong></h2>
<section class="flex-container card-flex">
  {{#each courses}}
  <div class="card border border-dark" style="width: 18rem;">
    <img class="card-img-top ing-fluid" src="https://image.flaticon.com/icons/svg/746/746950.svg" alt="Styles Pictures">
    <div class="card-body">
      <h3 class="name">Courses</h3>
      <p class="description"><a href="/{{id}}">{{courseName}}</a></p>
      <p class="description">{{university}}</p>
      <p class="description">{{professorName}}</p>
      <p class="description">{{term}}</p>
      <p class="description">{{description}}</p>
    </div>
  </div>
  {{/each}}
  </div>
  </div>
</section>
<div class="container-fluid">
  <a class="text-center btn btn-success" style="margin-top: 35px;" href="/new">+ Add New Courses</a>
</div>
