{{!-- index --}}
<div class="container">
    <a class="btn btn-info" href="/new">+ Add New Courses</a>

    <h2 class="text-center">Courses</h2>

    {{#each courses}}
    <div class="row review">
        {{!-- <div class="col-sm-6">
            <img class="img-thumbnail" src="{{recipeImg}}">
        </div> --}}
        <div class="col-sm-6 d-flex justify-content-end">
            <div class="row">
                <div class="col-sm-12">
                    <h4>
                        <a href="/{{id}}">{{courseName}}</a>
                    </h4>
                    <div class="col-sm-12">
                        <p>{{university}}</p>
                    </div>
                    <div class="col-sm-12">
                        <p>{{professorName}}</p>
                    </div>
                    <div class="col-sm-12">
                        <p>{{term}}</p>
                    </div>
                    <div class="col-sm-12">
                        <p>{{description}}</p>
                    </div>
                    <div class="col-sm-12">
                        <p>{{links}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
