{{!-- index --}}
<div class="container text-center">
    <h2 class="text-center">Courses</h2>

    {{#each courses}}
    <div class="row review">
       
        <div class="col-sm-6 d-flex justify-content-end">
            <div class="row">
                <div class="col-sm-12">
                    <h4>
                        <a href="/{{id}}">{{courseName}}</a>
                    </h4>
                    <div class="col-sm-12">
                        <p>{{university}}</p>
                    </div>
                    <div class="col-sm-12">
                        <p>{{professorName}}</p>
                    </div>
                    <div class="col-sm-12">
                        <p>{{term}}</p>
                    </div>
                    <div class="col-sm-12">
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <a class="btn btn-success" href="/new">+ Add New Courses</a>
</div>
