
<div class="article-list">
    <div class="container">
        {{!-- <div class="intro">
            <h2 class="text-center" style="font-size: 23px;height: 30px;"><strong>Community</strong></h2>
        </div> --}}
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item"><a href="/notes"><img src="https://image.flaticon.com/icons/svg/746/746950.svg"
                        class="img-fluid" /></a>
                <h3 class="name">Notes</h3>
                {{#each notes}}
                <p class="description"><a href="/notes/{{id}}">{{title}}</a></p>
                <p class="description">{{chapter}}</p>
                <p class="description">{{noteDescription}}</p>
                <p class="description">{{hints}}</p>
                <a class="btn btn-success" href="/notes/new">+ Add New Notes</a>
            </div>
        </div>
    </div>
</div>
{{/each}}


